<div class="banner-container">
    <div class="banner-header">
        <img src="../../../assets/banner.jpg" alt="banner">
        <img src="../../../assets/yo.jpg" alt="Santiago Leza">
    </div>
    <div class="banner-content">
        <h1>Santiago Leza</h1>
        <h3>Técnico universitario en programación</h3>
        <h3><a href="https://goo.gl/maps/wCPGsx5Dx4vP6KL2A" class="banner-ubi">Mar del Plata (Argentina)</a></h3>
        <div class="banner-buttons">
            <button>
                Tengo interés en
            </button>
            <button *ngIf="isLogged">
                Añadir Sección
            </button>
            <a href="https://santiagoleza.github.io/portafolio/" target="_blank">
                Más
            </a>
        </div>
    </div>
</div>
